/* Background styling */
.background {
    background-image: url('https://i.pinimg.com/736x/1d/83/b7/1d83b7e6deebccfdcbd8fb4e7549ae64.jpg'); /* Background image */
    background-size: cover; /* Ensure the image covers the entire screen */
    background-position: center; /* Default to center on larger screens */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure it fills the viewport */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .background {
        background-position: top center; /* Adjust the background position on smaller screens */
    }
